@import "./common/variable";

@vfmedal: vf-medal;

.@{vfmedal} {
  width: 100%;
  display: inline-block;

  .medal-type {
    width: 100%;
    height: 100%;
  }
  .medal-cross,
  .medal-expand,
  .medal-plus,
  .medal-minus {
    position: relative;
    @--cover: 50%;

    .out-path {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 10px solid #e3e2e1;
    }
    .horizontal {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;

      .path {
        width: @--cover;
        height: 10px;
        background-color: #e3e2e1;
        margin: auto;
      }
    }
    .vertical {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;

      .path {
        height: @--cover;
        width: 10px;
        margin: auto;
        background-color: #e3e2e1;
      }
    }
  }
  .medal-plus,
  .medal-minus {
    .out-path {
      border-radius: 50%;
    }
  }
}
