@import "./common/variable";
@import "./common/mixins";

@vftasktree: vf-task-tree;
@vftaskfolder: vf-task-folder;

ul,
ul li {
  list-style-type: none;
}

.@{vftasktree} {
  width: 100%;
  font-size: 14px;
  color: @--task-tree-color;
  overflow: hidden;

  li {
    line-height: 25px;
  }
  & > li::before {
    display: none !important;
  }

  .folder-empty {
    margin-left: @--task-tree-sub-folder-margin-left;
    margin-top: @--task-tree-sub-folder-margin-top;
    margin-bottom: @--task-tree-sub-folder-margin-bottom;
    font-weight: normal;
    font-size: 14px;
  }
}

.@{vftaskfolder} {
  width: 100%;
  margin-top: 5px;
  position: relative;

  @--folder-margin-left: 5px;

  @--horiz-path-width: 12px;
  @--horiz-path-height: 6px;
  @--horiz-path-top: 8px;
  @--horiz-leaf-path-left: -8px;
  @--horiz-folder-path-left: @--horiz-leaf-path-left - @--folder-margin-left;
  @--vertical-path-width: 10px;

  &.is-leaf {
    font-size: 14px;
    font-weight: normal;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: @--horiz-path-top;
      left: @--horiz-leaf-path-left;
      width: @--horiz-path-width;
      height: @--horiz-path-height;
      border-bottom: 1px dashed #999;
    }

    & .title {
      background-color: transparent !important;

      .lcon {
        .text {
          margin-left: 10px;
          padding-top: 2px;
        }
      }
    }
  }
  &.is-folder {
    font-size: 16px;
    font-weight: bold;
    margin-left: @--folder-margin-left;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: @--horiz-path-top;
      left: @--horiz-folder-path-left;
      width: @--horiz-path-width;
      height: @--horiz-path-height;
      border-bottom: 1px dashed #999;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: @--vertical-path-width;
      height: calc(100% - 32px);
      top: 21px;
      left: 0;
      border-right: 1px dashed #999;
    }

    & .title {
      background-color: #f0eeec;
    }
  }

  & .title {
    @--title-height: 25px;

    .clearfix();
    margin: 15px 0;

    height: @--title-height;
    line-height: @--title-height;

    .lcon {
      display: block;
      cursor: pointer;
      line-height: 1;
      width: 50%;
      float: left;
      .clearfix();

      &.leaf {
        width: auto;
        margin-right: 8px;
      }

      .decoration {
        display: block;
        height: @--title-height;
        padding-right: 5px;
        background-color: #fff;
        float: left;
        .medal {
          margin-top: 4px;
        }
      }

      .text {
        display: block;
        margin-left: 5px;
        height: @--title-height;
        line-height: @--title-height;
        float: left;
      }
    }
    .rcon {
      height: @--title-height;
      line-height: @--title-height;
      line-height: 1;
      display: block;
      width: 150px;
      float: left;
      .clearfix();

      .cell {
        height: 100%;
        float: left;
        padding: 0 6px;
      }
      .hover {
        cursor: pointer;
        &:hover {
          background-color: #e3e2e1;
        }
      }
      .padding {
        padding-top: 2px;
      }
    }
  }

  & .sub-folder {
    font-size: 14px;
    margin-left: @--task-tree-sub-folder-margin-left;
    margin-top: @--task-tree-sub-folder-margin-top;
    margin-bottom: @--task-tree-sub-folder-margin-bottom;
  }
}
