@import "./common/variable";
@import "./common/mixins";

@vftasktree: vf-task-tree;
@vftaskfolder: vf-task-folder;
@vftask: vf-task;

@--task-tree-margin-large: 15px;
@--task-tree-margin-default: 10px;
@--task-tree-margin-small: 5px;

@--task-tree-sub-folder-margin-left: 18px;

ul,
ul li {
  list-style-type: none;
}

.@{vftasktree} {
  width: 100%;
  color: @--task-tree-color;
  overflow: hidden;

  li {
    line-height: 25px;
  }
  & > li::before {
    display: none !important;
  }

  .folder-empty {
    margin-left: @--task-tree-sub-folder-margin-left;
    margin-top: @--task-tree-margin-default;
    margin-bottom: @--task-tree-margin-default;
    font-weight: normal;
  }
}

.@{vftaskfolder} {
  width: 100%;
  margin-top: 5px;
  position: relative;

  @--folder-margin-left: 5px;

  @--horiz-path-width: 12px;
  @--horiz-path-height: 6px;
  @--horiz-path-top: 8px;
  @--horiz-leaf-path-left: -8px;
  @--horiz-folder-path-left: @--horiz-leaf-path-left - @--folder-margin-left;
  @--vertical-path-width: 10px;

  &.is-leaf {
    font-weight: normal;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: @--horiz-path-top;
      left: @--horiz-leaf-path-left;
      width: @--horiz-path-width;
      height: @--horiz-path-height;
      border-bottom: 1px dashed #999;
    }

    & .@{vftask}-title {
      background-color: transparent !important;

      .lcon {
        .@{vftask}-text {
          margin-left: 10px;
          padding-top: 2px;
        }
      }
    }
  }
  &.is-folder {
    font-weight: bold;
    margin-left: @--folder-margin-left;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: @--horiz-path-top;
      left: @--horiz-folder-path-left;
      width: @--horiz-path-width;
      height: @--horiz-path-height;
      border-bottom: 1px dashed #999;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: @--vertical-path-width;
      height: calc(100% - 32px);
      top: 21px;
      left: -1px;
      border-right: 1px dashed #999;
    }

    & .@{vftask}-title {
      background-color: #f0eeec;
    }

    &.vf-small-task {
      &::after {
        left: -2px;
      }
    }
    &.vf-large-task {
      &::after {
        left: 0;
      }
    }
  }

  &.vf-small-task {
    .@{vftask}-title {
      margin: @--task-tree-margin-small 0;
    }

    .sub-folder {
      margin-top: @--task-tree-margin-small;
      margin-bottom: @--task-tree-margin-small;
    }
  }
  &.vf-large-task {
    .@{vftask}-title {
      margin: @--task-tree-margin-large 0;
    }

    .sub-folder {
      margin-top: @--task-tree-margin-large;
      margin-bottom: @--task-tree-margin-large;
    }
  }

  .@{vftask}-title {
    @--title-height: 25px;

    .clearfix();
    margin: @--task-tree-margin-default 0;

    height: @--title-height;
    line-height: @--title-height;

    .lcon {
      display: block;
      cursor: pointer;
      line-height: 1;
      width: calc(100% - 120px);
      float: left;
      .clearfix();

      &.leaf {
        // width: auto;
        max-width: calc(100% - 120px);
        margin-right: 8px;
      }

      .decoration {
        display: block;
        height: @--title-height;
        padding-right: 5px;

        float: left;
        .medal {
          margin-top: 4px;
        }
      }

      .@{vftask}-text {
        padding-left: 5px;
        height: @--title-height;
        line-height: @--title-height;
        float: left;

        .@{vftask}-status {
          margin-right: 5px;
        }
      }
      .@{vftask}-text.folder-text {
        .textOverflow();
        max-width: calc(100% - 30px);
      }
      .@{vftask}-text.leaf-text {
        .textOverflow();
        max-width: calc(100% - 30px);
      }
    }
    .rcon {
      height: @--title-height;
      line-height: @--title-height;
      line-height: 1;
      display: block;
      width: 110px;
      float: left;
      .clearfix();

      &.leaf {
        width: 80px;
      }

      .cell {
        height: 100%;
        float: left;
        padding: 0 6px;
      }
      .hover {
        cursor: pointer;
        &:hover {
          background-color: #e3e2e1;
        }
      }
      .padding {
        padding-top: 2px;
      }
    }
  }

  .sub-folder {
    margin-left: @--task-tree-sub-folder-margin-left;
    margin-top: @--task-tree-margin-default;
    margin-bottom: @--task-tree-margin-default;
  }
}
